.padding-15{padding: 15px;}
.dashboard_Box:first-child{padding-left: 0;}
.dashboard_Box:last-child{padding-right: 0;}
.mat-table .mat-cell{
  white-space: normal;
  text-overflow: initial;
  word-break: break-word; word-break: break-all;word-break: break-all;
}
