<div [@routerTransition] class="padding15">
  <app-shared-card [image]="'assets/images/card-icon/setting.svg'">
    <mat-card-subtitle class="mat-card-subtitle">Parent App Feature</mat-card-subtitle>
    <mat-card-content class="mat-card-content">
      <p>test demo</p>
    </mat-card-content>
  </app-shared-card>

  <section>
    <mat-card class="marginBottom15 cardPanel no-padding">
      <mat-card-content class="matCardContent">
        <div class="col-md-6 col-sm-12 mt-2 dashboard_Box">
          <mat-checkbox>Select All</mat-checkbox>
        </div>
        <section class="mt-2">
          <section class="pageHeader_right sectionPadding">
            <div class="example-container mat-elevation-z8">
              <div class="teacherApp">
                <table mat-table class="" #table [dataSource]="dataSource" matSort matSortDisableClear="true"
                       matSortDirection="asc">

                  <!-- teacher Column -->
                  <ng-container matColumnDef="teacher" sticky>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Teacher/Features</th>
                    <th  mat-cell *matCellDef="let element">
                      <div>{{element.teacher}}</div>
                    </th>
                  </ng-container>

                  <!-- attendance Column -->
                  <ng-container matColumnDef="attendance">
                    <th mat-header-cell *matHeaderCellDef> Attendance <mat-checkbox class="ml-2"></mat-checkbox></th>
                    <th mat-cell *matCellDef="let element">
                      <mat-checkbox></mat-checkbox>
                    </th>
                  </ng-container>

                  <!-- notice Column -->
                  <ng-container matColumnDef="notice">
                    <th mat-header-cell *matHeaderCellDef> Notice <mat-checkbox class="ml-2"></mat-checkbox></th>
                    <th mat-cell *matCellDef="let element">
                      <mat-checkbox></mat-checkbox>
                    </th>
                  </ng-container>

                  <!-- tracking Column -->
                  <ng-container matColumnDef="tracking">
                    <th mat-header-cell *matHeaderCellDef> tracking <mat-checkbox class="ml-2"></mat-checkbox></th>
                    <th mat-cell *matCellDef="let element">
                      <mat-checkbox></mat-checkbox>
                    </th>
                  </ng-container>

                  <!-- media Column -->
                  <ng-container matColumnDef="media">
                    <th mat-header-cell *matHeaderCellDef> Media <mat-checkbox class="ml-2"></mat-checkbox></th>
                    <th mat-cell *matCellDef="let element">
                      <mat-checkbox></mat-checkbox>
                    </th>
                  </ng-container>

                  <!-- callSupport Column -->
                  <ng-container matColumnDef="callSupport">
                    <th mat-header-cell *matHeaderCellDef> Call Support <mat-checkbox class="ml-2"></mat-checkbox></th>
                    <th mat-cell *matCellDef="let element">
                      <mat-checkbox></mat-checkbox>
                    </th>
                  </ng-container>

                  <!-- forms Column -->
                  <ng-container matColumnDef="forms">
                    <th mat-header-cell *matHeaderCellDef> Forms <mat-checkbox class="ml-2"></mat-checkbox></th>
                    <th mat-cell *matCellDef="let element">
                      <mat-checkbox></mat-checkbox>
                    </th>
                  </ng-container>

                  <!-- misReports Column -->
                  <ng-container matColumnDef="misReports">
                    <th mat-header-cell *matHeaderCellDef> MisReports <mat-checkbox class="ml-2"></mat-checkbox></th>
                    <th mat-cell *matCellDef="let element">
                      <mat-checkbox></mat-checkbox>
                    </th>
                  </ng-container>

                  <!-- appointment Column -->
                  <ng-container matColumnDef="appointment">
                    <th mat-header-cell *matHeaderCellDef> Appointment <mat-checkbox class="ml-2"></mat-checkbox></th>
                    <th mat-cell *matCellDef="let element">
                      <mat-checkbox></mat-checkbox>
                    </th>
                  </ng-container>

                  <!-- polls Column -->
                  <ng-container matColumnDef="polls">
                    <th mat-header-cell *matHeaderCellDef> Polls <mat-checkbox class="ml-2"></mat-checkbox></th>
                    <th mat-cell *matCellDef="let element">
                      <mat-checkbox></mat-checkbox>
                    </th>
                  </ng-container>

                  <!-- smileys Column -->
                  <ng-container matColumnDef="smileys">
                    <th mat-header-cell *matHeaderCellDef> Smileys <mat-checkbox class="ml-2"></mat-checkbox></th>
                    <th mat-cell *matCellDef="let element">
                      <mat-checkbox></mat-checkbox>
                    </th>
                  </ng-container>

                  <!-- RubixPolls Column -->
                  <ng-container matColumnDef="RubixPolls">
                    <th mat-header-cell *matHeaderCellDef> RubixPolls <mat-checkbox class="ml-2"></mat-checkbox></th>
                    <th mat-cell *matCellDef="let element">
                      <mat-checkbox></mat-checkbox>
                    </th>
                  </ng-container>

                  <!-- myTimeTable Column -->
                  <ng-container matColumnDef="myTimeTable">
                    <th mat-header-cell *matHeaderCellDef> My Timetable <mat-checkbox class="ml-2"></mat-checkbox></th>
                    <th mat-cell *matCellDef="let element">
                      <mat-checkbox></mat-checkbox>
                    </th>
                  </ng-container>

                  <!-- faq Column -->
                  <ng-container matColumnDef="faq">
                    <th mat-header-cell *matHeaderCellDef> FAQs <mat-checkbox class="ml-2"></mat-checkbox></th>
                    <th mat-cell *matCellDef="let element">
                      <mat-checkbox></mat-checkbox>
                    </th>
                  </ng-container>

                  <!-- utilities Column -->
                  <ng-container matColumnDef="utilities">
                    <th mat-header-cell *matHeaderCellDef> Utilities <mat-checkbox class="ml-2"></mat-checkbox></th>
                    <th mat-cell *matCellDef="let element">
                      <mat-checkbox></mat-checkbox>
                    </th>
                  </ng-container>

                  <!-- RTDownloadProgress Column -->
                  <ng-container matColumnDef="RTDownloadProgress">
                    <th mat-header-cell *matHeaderCellDef> RTDownload Progress <mat-checkbox class="ml-2"></mat-checkbox></th>
                    <th mat-cell *matCellDef="let element">
                      <mat-checkbox></mat-checkbox>
                    </th>
                  </ng-container>

                  <!-- QuickSchool Column -->
                  <ng-container matColumnDef="QuickSchool">
                    <th mat-header-cell *matHeaderCellDef> QuickSchool <mat-checkbox class="ml-2"></mat-checkbox></th>
                    <th mat-cell *matCellDef="let element">
                      <mat-checkbox></mat-checkbox>
                    </th>
                  </ng-container>

                  <!-- shareEnq Column -->
                  <ng-container matColumnDef="shareEnq">
                    <th mat-header-cell *matHeaderCellDef> SHARE ENQUIRY CARD <mat-checkbox class="ml-2"></mat-checkbox></th>
                    <th mat-cell *matCellDef="let element">
                      <mat-checkbox></mat-checkbox>
                    </th>
                  </ng-container>

                  <!-- magicCrate Column -->
                  <ng-container matColumnDef="magicCrate">
                    <th mat-header-cell *matHeaderCellDef> Magic Crate <mat-checkbox class="ml-2"></mat-checkbox></th>
                    <th mat-cell *matCellDef="let element">
                      <mat-checkbox></mat-checkbox>
                    </th>
                  </ng-container>

                  <!-- shareEnquiry Column -->
                  <ng-container matColumnDef="shareEnquiry">
                    <th mat-header-cell *matHeaderCellDef> Share Enquiry <mat-checkbox class="ml-2"></mat-checkbox></th>
                    <th mat-cell *matCellDef="let element">
                      <mat-checkbox></mat-checkbox>
                    </th>
                  </ng-container>

                  <!-- pendingApproval Column -->
                  <ng-container matColumnDef="pendingApproval">
                    <th mat-header-cell *matHeaderCellDef> PENDING APPROVAL CARD <mat-checkbox class="ml-2"></mat-checkbox></th>
                    <th mat-cell *matCellDef="let element">
                      <mat-checkbox></mat-checkbox>
                    </th>
                  </ng-container>

                  <!-- adminReport Column -->
                  <ng-container matColumnDef="adminReport">
                    <th mat-header-cell *matHeaderCellDef> ADMIN REPORT CARD <mat-checkbox class="ml-2"></mat-checkbox></th>
                    <th mat-cell *matCellDef="let element">
                      <mat-checkbox></mat-checkbox>
                    </th>
                  </ng-container>

                  <!-- feeCollection Column -->
                  <ng-container matColumnDef="feeCollection">
                    <th mat-header-cell *matHeaderCellDef> FEE COLLECTION CARD <mat-checkbox class="ml-2"></mat-checkbox></th>
                    <th mat-cell *matCellDef="let element">
                      <mat-checkbox></mat-checkbox>
                    </th>
                  </ng-container>

                  <!-- smilyCard Column -->
                  <ng-container matColumnDef="smilyCard">
                    <th mat-header-cell *matHeaderCellDef> SMILEY CARD <mat-checkbox class="ml-2"></mat-checkbox></th>
                    <th mat-cell *matCellDef="let element">
                      <mat-checkbox></mat-checkbox>
                    </th>
                  </ng-container>

                  <!-- staffWork Column -->
                  <ng-container matColumnDef="staffWork">
                    <th mat-header-cell *matHeaderCellDef> STAFF WORK LOAD CARD <mat-checkbox class="ml-2"></mat-checkbox></th>
                    <th mat-cell *matCellDef="let element">
                      <mat-checkbox></mat-checkbox>
                    </th>
                  </ng-container>

                  <!-- staffAttendance Column -->
                  <ng-container matColumnDef="staffAttendance">
                    <th mat-header-cell *matHeaderCellDef> STAFF ATTENDENCE CARD <mat-checkbox class="ml-2"></mat-checkbox></th>
                    <th mat-cell *matCellDef="let element">
                      <mat-checkbox></mat-checkbox>
                    </th>
                  </ng-container>

                  <!-- studentAttendance Column -->
                  <ng-container matColumnDef="studentAttendance">
                    <th mat-header-cell *matHeaderCellDef> STUDENT ATTENDENCE CARD <mat-checkbox class="ml-2"></mat-checkbox></th>
                    <th mat-cell *matCellDef="let element">
                      <mat-checkbox></mat-checkbox>
                    </th>
                  </ng-container>

                  <!-- classTimetable Column -->
                  <ng-container matColumnDef="classTimetable">
                    <th mat-header-cell *matHeaderCellDef> Class Time Table <mat-checkbox class="ml-2"></mat-checkbox></th>
                    <th mat-cell *matCellDef="let element">
                      <mat-checkbox></mat-checkbox>
                    </th>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


                </table>
                <p *ngIf="tempData.length === 0" class="nodataFound">No Information Available</p>
              </div>


            </div>
            <div class="row  clearfix">
              <div class="col-lg-12 no-padding">
                <mat-paginator [length]="100"
                               [pageSize]="5"
                               [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
              </div>
            </div>
          </section>
        </section>
      </mat-card-content>
    </mat-card>
  </section>

</div>
