<div [@routerTransition] class="padding15">
  <app-shared-card [image]="'assets/images/card-icon/setting.svg'">
    <mat-card-subtitle class="mat-card-subtitle">New Role</mat-card-subtitle>
    <mat-card-content class="mat-card-content">
    </mat-card-content>
  </app-shared-card>

  <section>
    <mat-card class="marginBottom15 cardPanel no-padding">
      <mat-card-content class="matCardContent">
        <section class="mt-2">
          <button mat-raised-button class="dangerThemeBtn" (click)="openUpdateRole()">Add Role</button>

          <section class="pageHeader_right sectionPadding">
            <div class="example-container mat-elevation-z8">
              <div class="responsive_table">
                <mat-table class="" #table [dataSource]="dataSource" matSort matSortDisableClear="true"
                           matSortDirection="asc">

                  <!-- rollName Column -->
                  <ng-container matColumnDef="firstName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> First Name</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <div>{{element.firstName}}</div>
                    </mat-cell>
                  </ng-container>

                  <!-- description Column -->
                  <ng-container matColumnDef="lastName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <div>{{element.lastName}}</div>
                    </mat-cell>
                  </ng-container>

                  <!-- validFrom Column -->
                  <ng-container matColumnDef="valid_upto">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Valid Till</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <div>{{element.valid_upto}}</div>
                    </mat-cell>
                  </ng-container>

                  <!-- validUpto Column -->
                  <!--<ng-container matColumnDef="validUpto">-->
                    <!--<mat-header-cell *matHeaderCellDef mat-sort-header> Valid Upto</mat-header-cell>-->
                    <!--<mat-cell *matCellDef="let element">-->
                      <!--<div>{{element.validUpto}}</div>-->
                    <!--</mat-cell>-->
                  <!--</ng-container>-->

                  <!-- update Column -->
                  <ng-container matColumnDef="update">
                    <mat-header-cell *matHeaderCellDef> Update</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <button mat-icon-button matTooltip="Edit" matTooltipPosition="above" (click)="openUpdateRole(element)">
                        <i class="material-icons fontAwesomeEditColor">edit</i>
                      </button>
                    </mat-cell>
                  </ng-container>

                  <!-- Action Column -->
                  <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef> Inactive/Active</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <mat-slide-toggle [checked]="element.enable" #toValue (toggleChange)="togleDta(element.enable)"></mat-slide-toggle>
                    </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <p *ngIf="tempData.length === 0" class="nodataFound">No Information Available</p>
              </div>

              <div class="row  clearfix">
                <div class="col-lg-12 no-padding">
                  <mat-paginator [length]="100"
                                 [pageSize]="5"
                                 [pageSizeOptions]="[5, 10, 25, 100]">
                  </mat-paginator>
                </div>
              </div>
            </div>
          </section>
        </section>
      </mat-card-content>
    </mat-card>
  </section>
</div>
