<form [formGroup]="communicationeForm" >
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mt-2 dashboard_Box">
      <mat-form-field>
        <input type="text" matInput
               placeholder="Enter Title" autocomplete="off"
               formControlName="title"
               autocomplete="off"/>
      </mat-form-field>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mt-2 dashboard_Box">
      <mat-form-field>
        <input type="text" matInput
               placeholder="Web URL" autocomplete="off"
               formControlName="webUrl"
               autocomplete="off"/>
      </mat-form-field>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mt-2 dashboard_Box">
      <mat-form-field>
        <input matInput [matDatepicker]="picker1" placeholder="Send On"
               formControlName="startDateRange" autocomplete="off">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1 startView="year" [startAt]="startDate"></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mt-2 dashboard_Box">
      <mat-form-field>
        <input matInput [matDatepicker]="picker2" placeholder="Show Till"
               formControlName="endDateRange" autocomplete="off">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 startV iew="year" [startAt]="endDate"></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt-2 dashboard_Box">
      <mat-form-field>
        <textarea matInput placeholder="Description" formControlName="description"></textarea>
      </mat-form-field>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 mt-2 dashboard_Box">
      <input type="file" #file style="display: none;" #uploadButton>
      <button mat-raised-button class="dangerHollowThemeBtn mr-2" >Attachment
      </button>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mt-2 dashboard_Box">
      <div class="browseList">
        <div class="browseListItem">
          <div class="browseListItemPlaceholder">
            <img src="assets/images/attachSmBlack.png" alt="">
            <span class="browseListItemFileName">file name</span>
          </div>
          <button class="minBtn pointer" title="Delete"><i class="fa fa-trash"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 mt-2 dashboard_Box">
      <input type="file" #file style="display: none;" #uploadButton >
      <button mat-raised-button class="dangerHollowThemeBtn mr-2">Attachment
      </button>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mt-2 dashboard_Box">
      <div class="browseList">
        <div class="browseListItem">
          <div class="browseListItemPlaceholder">
            <img src="assets/images/attachSmBlack.png" alt="">
            <span class="browseListItemFileName">file name</span>
          </div>
          <button class="minBtn pointer" title="Delete"><i class="fa fa-trash"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 no-padding">
      <button mat-raised-button class="dangerThemeBtn pull-right">Save</button>
    </div>
  </div>
</form>

