.selectClassUl {
  padding-left: 0;
  li {
    margin: 10px 0;
    list-style: none;
    display: flex;
    border-bottom: 1px dashed #ddd;
    .font {
      font-size: 15px;
      font-weight: bold;
    }
    .detail span{font-size: 13px; margin-right: 10px;}
    .detail span:nth-child(1){border-right: 1px solid #ddd; padding-right: 10px;}
    .detail span:nth-child(2){border-right: 1px solid #ddd; padding-right: 10px;}
  }
}
