.text_align_right {
  text-align: right;
  height: 30px;
  width: 40px;
  font-size: 10px;
}
.list_table tr th {font-size: 13px;
  border-spacing: 0px;
  margin: 0px;
  background-color: #E8E8E8;
  height: 0;
  width: 0;
  border-bottom: 2px solid #c6c9cc;
  border-right: 2px solid #c6c9cc;
  border-left: 2px solid #c6c9cc;
  padding: 3px;
}
input[class="small"], button[class="small"], select[class="small"], textarea[class="small"] {
  color: #191919;
  padding: 2px;
  height: 30px;
  width: 40px;
  margin: 0;
  display: inline-block;}
