<!--modal-->
<h1 mat-dialog-title class="font15 mb-3"> <strong>Sibling Information</strong>
  <span (click)="closeDilogue()" class="pull-right" title="Close">
        <img src="assets/images/icons/clear_black.svg" alt="close" class="width17 img-responsive">
</span>
</h1>
<mat-dialog-content>
  <form [formGroup]="siblingInfo" novalidate>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle checked value="Mobile" (click)="isOn = false">Mobile</mat-button-toggle>
      <mat-button-toggle value="Name" (click)="isOn = true">Name</mat-button-toggle>
    </mat-button-toggle-group>


    <div class="row" [hidden]="isOn">
      <div class="col-lg-6 col-md-6 col-sm-6 dashboardBox">
        <mat-grid-list cols="1" rowHeight="75px">
          <mat-grid-tile>
            <mat-form-field class="example-full-width">
              <input type="text" matInput placeholder="Mobile No." formControlName="mobileNum"
                     autocomplete="off"/>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 dashboardBox"></div>
    </div>
    <div class="row" [hidden]="!isOn">
      <div class="col-lg-6 col-md-6 col-sm-6 dashboardBox">
        <mat-grid-list cols="1" rowHeight="75px">
          <mat-grid-tile>
            <mat-form-field class="example-full-width">
              <input type="text" matInput placeholder="First Name" formControlName="firstName"
                     autocomplete="off"/>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 dashboardBox">
        <mat-grid-list cols="1" rowHeight="75px">
          <mat-grid-tile>
            <mat-form-field class="example-full-width">
              <input type="text" matInput placeholder="Last Name" formControlName="lastName"
                     autocomplete="off"/>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </form>

</mat-dialog-content>


<mat-dialog-actions align="end" class="mat-dialog-actions">
  <!--<h6 class="mat-error errroMessage mt-2">Show error message</h6>-->
  <!--<span class="spacer"></span>-->
  <button mat-raised-button class="dangerThemeBtn" [disabled]="!siblingInfo.valid">Submit</button>
</mat-dialog-actions>


