<!--modal-->
<h1 mat-dialog-title class="font15 mb-3"><strong>Publish Media</strong>
  <span (click)="closeDilogue()" class="pull-right" title="Close">
        <img src="assets/images/icons/clear_black.svg" alt="close" class="width17 img-responsive">
</span>
</h1>
<mat-dialog-content>
  <form [formGroup]="publishForm" novalidate>
    <div class="row">
      <div class="col-lg-6 dashboardBox"><p>Gallery Name: <span class="greyColor">temp</span></p></div>
      <div class="col-lg-6 dashboardBox"><p>Created Date: <span class="greyColor">14/08/18</span></p></div>
    </div>
    <div class="row">
      <div class="col-lg-6 dashboardBox"><p>Published On: <span class="greyColor">14/08/18</span></p></div>
      <div class="col-lg-6 dashboardBox"><p>Show Till: <span class="greyColor">14/08/18</span></p></div>
    </div>

    <div class="row">
      <div class="col-lg-6 dashboardBox">
        <mat-grid-list cols="1" rowHeight="75px">
          <mat-grid-tile>
            <mat-form-field>
              <mat-select placeholder="Publish To" formControlName="publishTo">
                <mat-option>Private</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <div class="col-lg-6 dashboardBox">
        <mat-grid-list cols="1" rowHeight="75px">
          <mat-grid-tile>
            <mat-form-field>
              <mat-select placeholder="STD." formControlName="selectStd">
                <mat-option *ngFor="let std of selectStd" [value]="std.key">
                  {{ std.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 dashboardBox">
        <mat-grid-list cols="1" rowHeight="75px">
          <mat-grid-tile>
            <mat-form-field>
              <mat-select placeholder="Select Division" formControlName="division">
                <mat-option *ngFor="let div of division" [value]="div.key">
                  {{ div.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end" class="mat-dialog-actions">
  <!--<h6 class="mat-error errroMessage mt-2">Show error message</h6>-->
  <!--<span class="spacer"></span>-->
  <button mat-raised-button class="dangerThemeBtn">Share</button>
</mat-dialog-actions>



