<!--modal-->
<h1 mat-dialog-title class="font15 mb-3"> <strong>Select Class & Division</strong>
  <span (click)="closeDilogue()" class="pull-right" title="Close">
        <img src="assets/images/icons/clear_black.svg" alt="close" class="width17 img-responsive">
</span>
</h1>
<mat-dialog-content>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
    <table class="table table-bordered" id="globalModalForClassDivisionDiv">
      <tbody>
      <tr>
        <td><mat-checkbox>Div / Class</mat-checkbox></td>
        <td>
          <label class="link cursor-pointer"><mat-checkbox>BBA</mat-checkbox></label>
        </td>
        <td><label class="link cursor-pointer"><mat-checkbox>88</mat-checkbox></label></td>
        <td><label class="link cursor-pointer"><mat-checkbox>1</mat-checkbox></label></td>
        <td><label class="link cursor-pointer"><mat-checkbox>2</mat-checkbox></label></td>
        <td><label class="link cursor-pointer"><mat-checkbox>3</mat-checkbox></label></td>
        <td><label class="link cursor-pointer"><mat-checkbox>4</mat-checkbox></label></td>
        <td><label class="link cursor-pointer"><mat-checkbox>5</mat-checkbox></label></td>
        <td><label class="link cursor-pointer"><mat-checkbox>6</mat-checkbox></label></td>
        <td><label class="link cursor-pointer"><mat-checkbox>7</mat-checkbox></label></td>
        <td><label class="link cursor-pointer"><mat-checkbox>8</mat-checkbox></label></td>
        <td><label class="link cursor-pointer"><mat-checkbox>9</mat-checkbox></label></td>
        <td><label class="link cursor-pointer"><mat-checkbox>10</mat-checkbox></label></td>
        <td><label class="link cursor-pointer"><mat-checkbox>11</mat-checkbox></label></td>
        <td><label class="link cursor-pointer"><mat-checkbox>12</mat-checkbox></label></td>
        <td><label class="link cursor-pointer"><mat-checkbox>Play Group</mat-checkbox></label></td>
        <td><label class="link cursor-pointer"><mat-checkbox>Nursery</mat-checkbox></label></td>
        <td><label class="link cursor-pointer"><mat-checkbox>Jr. Kg</mat-checkbox></label></td>
        <td><label class="link cursor-pointer"><mat-checkbox>Sr.Kg.</mat-checkbox></label></td>
        <td><label class="link cursor-pointer"><mat-checkbox>I</mat-checkbox></label></td>
        <td><label class="link cursor-pointer"><mat-checkbox>II</mat-checkbox></label></td>
        <td><label class="link cursor-pointer"><mat-checkbox>III</mat-checkbox></label></td>
        <td><label class="link cursor-pointer"><mat-checkbox>IV</mat-checkbox></label></td>
        <td><label class="link cursor-pointer"><mat-checkbox>V</mat-checkbox></label></td>
        <td><label class="link cursor-pointer"><mat-checkbox>VI</mat-checkbox></label></td>
        <td><label class="link cursor-pointer"><mat-checkbox>VII</mat-checkbox></label> </td>
        <td><label class="link cursor-pointer"><mat-checkbox>VIII</mat-checkbox></label></td>
        <td><label class="link cursor-pointer"><mat-checkbox>IX</mat-checkbox></label></td>
        <td><label class="link cursor-pointer"><mat-checkbox>X</mat-checkbox></label></td>
        <td><label class="link cursor-pointer"><mat-checkbox>XI</mat-checkbox></label></td>
        <td><label class="link cursor-pointer"><mat-checkbox>XII</mat-checkbox></label> </td>
        <td><label class="link cursor-pointer"><mat-checkbox>B.Sc.-I</mat-checkbox></label></td>
        <td><label class="link cursor-pointer"><mat-checkbox>B.Sc.-II</mat-checkbox></label></td>
        <td><label class="link cursor-pointer"><mat-checkbox>B.Sc.-III</mat-checkbox></label></td>
        <td><label class="link cursor-pointer"><mat-checkbox>MCA-I</mat-checkbox></label></td>
        <td><label class="link cursor-pointer"><mat-checkbox>MCA-II</mat-checkbox></label></td>
        <td><label class="link cursor-pointer"><mat-checkbox>MCA-III</mat-checkbox></label></td>
        <td><label class="link cursor-pointer"><mat-checkbox>MCA-IV</mat-checkbox></label></td>
      </tr>
      <tr id="index_row_A">
        <td><mat-checkbox>A</mat-checkbox></td>
        <td></td>
        <td class="avaibaleClassAndDiv min-width-popup-class-div"></td>
        <td class="avaibaleClassAndDiv min-width-popup-class-div"></td>
        <td class="avaibaleClassAndDiv min-width-popup-class-div"></td>
        <td class="avaibaleClassAndDiv min-width-popup-class-div"></td>
        <td class="avaibaleClassAndDiv min-width-popup-class-div"></td>
        <td class="avaibaleClassAndDiv min-width-popup-class-div"></td>
        <td class="avaibaleClassAndDiv min-width-popup-class-div"></td>
        <td class="avaibaleClassAndDiv min-width-popup-class-div"></td>
        <td class="avaibaleClassAndDiv min-width-popup-class-div"></td>
        <td class="avaibaleClassAndDiv min-width-popup-class-div"></td>
        <td></td>
        <td class="avaibaleClassAndDiv min-width-popup-class-div"></td>
        <td></td>
        <td class="avaibaleClassAndDiv min-width-popup-class-div"></td>
        <td></td>
        <td class="avaibaleClassAndDiv min-width-popup-class-div"></td>
        <td></td>
        <td class="avaibaleClassAndDiv min-width-popup-class-div"></td>
        <td></td>
        <td></td>
        <td class="avaibaleClassAndDiv min-width-popup-class-div"></td>
        <td class="avaibaleClassAndDiv min-width-popup-class-div"></td>
        <td></td>
        <td class="avaibaleClassAndDiv min-width-popup-class-div"></td>
        <td></td>
        <td></td>
        <td class="avaibaleClassAndDiv min-width-popup-class-div"></td>
        <td></td>
        <td></td>
        <td class="avaibaleClassAndDiv min-width-popup-class-div"></td>
        <td  class="avaibaleClassAndDiv min-width-popup-class-div"></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="avaibaleClassAndDiv min-width-popup-class-div"></td>
        <td></td>
      </tr>
      <tr id="index_row_B">
        <td><mat-checkbox>B</mat-checkbox></td>
        <td></td>
        <td></td>
        <td class="avaibaleClassAndDiv min-width-popup-class-div"></td>
        <td class="avaibaleClassAndDiv min-width-popup-class-div"></td>
        <td class="avaibaleClassAndDiv min-width-popup-class-div"></td>
        <td class="avaibaleClassAndDiv min-width-popup-class-div"></td>
        <td class="avaibaleClassAndDiv min-width-popup-class-div"></td>
        <td></td>
        <td class="avaibaleClassAndDiv min-width-popup-class-div"></td>
        <td></td>
        <td class="avaibaleClassAndDiv min-width-popup-class-div"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr id="index_row_D">
        <td><mat-checkbox>D</mat-checkbox></td>
        <td></td>
        <td></td>
        <td class="avaibaleClassAndDiv min-width-popup-class-div"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr id="index_row_F">
        <td><mat-checkbox>D</mat-checkbox></td>
        <td></td>
        <td></td>
        <td class="avaibaleClassAndDiv min-width-popup-class-div"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr id="index_row_K">
        <td><mat-checkbox>K</mat-checkbox></td>
        <td></td>
        <td></td>
        <td class="avaibaleClassAndDiv min-width-popup-class-div"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr id="index_row_a">
        <td><mat-checkbox>A</mat-checkbox></td>
        <td></td>
        <td></td>
        <td class="avaibaleClassAndDiv min-width-popup-class-div"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr id="index_row_c">
        <td><mat-checkbox>C</mat-checkbox></td>
        <td></td>
        <td></td>
        <td class="avaibaleClassAndDiv min-width-popup-class-div"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</mat-dialog-content>


<mat-dialog-actions align="end" class="mat-dialog-actions">
  <!--<h6 class="mat-error errroMessage mt-2">Show error message</h6>-->
  <!--<span class="spacer"></span>-->
  <button mat-raised-button class="dangerThemeBtn">Add</button>
</mat-dialog-actions>

