@import "../../../../../../theme/variables";

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
  border: 1px solid #e6e6e6;
  font-size: 12px;
}
.avaibaleClassAndDiv {
  background: #d9edf7 none repeat scroll 0 0;
}
.link {
  color: #0077cc;
}
