@import "../../../../../theme/variables";
.example-header-image-female {
  background-image: url('../../../../../assets/images/icons/femaleIcon.png');
  background-size: cover;
}
.example-header-image-male {
  background-image: url('../../../../../assets/images/icons/maleIcon.png');
  background-size: cover;
}
.cardBtn{box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  font-size: 13px;
  margin-right: 10px;
  padding: 0 12px;
  height: 26px;
  border-radius: 2px;
}
